<mat-card>
  <mat-card-title>Palpitar Jogo</mat-card-title>

  <form *ngIf="jogo">

    <mat-form-field>
        <input matInput placeholder="Palpite" [(ngModel)]="jogo.palpite1" name="palpite1">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Palpite2" [(ngModel)]="jogo.palpite2" name="palpite2">
    </mat-form-field>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <a routerLink="/alunos/update/{{ row.id }}" class="edit">
          <i class="material-icons">
            edit
          </i>
        </a>
      </td>
    </ng-container>

</form>
</mat-card>





